<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Posts</title>
    <link rel="stylesheet" href="../css/discussion.css">
</head>
<body>
    <!-- Menu Bar -->
    <nav class="menu-bar">
        <ul>
            <!-- Clickable Logo -->
            <a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/discussion.html">
                <img src="https://replit.com/@ThetPaingDaNa/Frontend-Hackathon#Assets/Unibridge_Logo.png" alt="Logo" width="200" height="100">
            </a>
            <!-- <li><a href="#">Home</a></li> -->
            <li><a href="/Template/account.html">Profile</a></li>
            <li><a href="https://www.cappex.com/colleges" target="_self">College Search</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <!-- Discussion Posts Container -->
  <div class = "main-content">
    <div class="discussion-posts">
        <div class="discussion-post">
            <h2>Post 1</h2>
            <p>This is the content of the first discussion post.</p>
            <div class="reactions">
                <button class="reaction-button">Like</button>
                <button class="reaction-button">Dislike</button>
            </div>
            <button class="share-button">Share</button>
            <button class="comment-button">Comment</button>
        </div>

        <div class="discussion-post">
            <h2>Post 2</h2>
            <p>This is the content of the second discussion post.</p>
            <div class="reactions">
                <button class="reaction-button">Like</button>
                <button class="reaction-button">Dislike</button>
            </div>
            <button class="share-button">Share</button>
            <button class="comment-button">Comment</button>
        </div>

        <div class="discussion-post">
            <h2>Post 3</h2>
            <p>This is the content of the third discussion post.</p>
            <div class="reactions">
                <button class="reaction-button">Like</button>
                <button class="reaction-button">Dislike</button>
            </div>
            <button class="share-button">Share</button>
            <button class="comment-button">Comment</button>
        </div>

        <div class="discussion-post">
            <h2>Post 4</h2>
            <p>This is the content of the fourth discussion post.</p>
            <div class="reactions">
                <button class="reaction-button">Like</button>
                <button class="reaction-button">Dislike</button>
            </div>
            <button class="share-button">Share</button>
            <button class="comment-button">Comment</button>
        </div>
    </div>
       <div class="sidebar">
            <h3>Filter Discussions</h3>
            <ul>
                <li><a href="#">Volunteer Opportunities</a></li>
                <li><a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/scholarships.html">Scholarship Websites</a></li>
                <li><a href="#">2021-2022 Admission Data</a></li>
                <li><a href="#">2020-2021 Admission Data</a></li>
                <li><a href="#">2019-2020 Admission Data</a></li>
                <br>
                <h3>My Mentors</h3>
                <li><a href="/Template/James.html"><img src="/pictures/James Profile.jpg"></a></li>
                <li><a href="/Template/Emily.html"><img src="/pictures/Emily Profile.jpg"></a></li>
                <li><a href="/Template/Theon.html"><img src="/pictures/Theon's profile.jpg"></a></li>
                <!-- Add more functions or links here -->
            </ul>
        </div>
    </div>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64bcb4bccc26a871b02aa57d/1h60i4001';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>
</html>