<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer</title>
    <link rel="stylesheet" href="/css/volunteer.css">
</head>
<body>
    <a href="https://frontend-hackathon.thetpaingdana.repl.co/Template/discussion.html" id="logo-link">
        <img src="https://github.com/David-DaNa/Stemist-Hacks-2023-UniBridge/blob/0405d796b8d86cc77ba5dac5f47a26550a65e527/Assets/Unibridge_Logo.png" alt="Logo" width="200" height="240" id="logo-image">
    </a>

    <h1>Volunteer Opportunities</h1>
  
    <ul>
        <li><a href="https://www.allforgood.org/" target="_self">All for Good</a></li>
        <li><a href="https://www.dosomething.org/" target="_self">DoSomething</a></li>
        <li><a href="https://www.idealist.org/" target="_self">Idealist</a></li>
        <li><a href="https://www.unv.org/" target="_self">UN Volunteers</a></li>
        <li><a href="https://www.volunteermatch.org/" target="_self">VolunteerMatch</a></li>
        <li><a href="https://www.volunteerworld.com/" target="_self">Volunteer World</a></li>
    </ul>
</body>
</html>
